<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="template :: head">
</div>

<body>
   
    <div class="wrapper">
        <!-- Start Header -->
        <div th:replace="template :: header">
		</div>
        <!-- End Header -->
        <!-- Start Main -->
        <main>
            <div class="main-part">
                <!-- Start Breadcrumb Part -->
                <section class="breadcrumb-part" data-stellar-offset-parent="true" data-stellar-background-ratio="0.5" style="background-imagePath: url('./images/breadbg1.jpg');">
                    <div class="container">
                        <div class="breadcrumb-inner">
                            <h2>Menu Style</h2>
                            <a href="#">Home</a>
                            <span>Menu Style</span>
                        </div>
                    </div>
                </section>
                <!-- End Breadcrumb Part -->
                <!-- Start Menu Part -->
                <section class="special-menu bg-skeen home-icon wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="icon-default icon-skeen">
                        <img src="./images/icon6.png" alt="" />
                    </div>
                    <div class="container">
                        <div class="build-title">
                            <h2>Our Special Menu</h2>
                            <h6>The role of a good cook ware in the preparation of a sumptuous meal cannot be over emphasized then one consider white bread</h6>
                        </div>
                        <div class="menu-wrapper">

                            <div class="portfolioFilter">
                                <div class="portfolioFilter-inner">
                                    <a href="javascript:;" data-filter="*" class="current">All</a>
                                    <span th:each="categorie:${categories}">
                                        <a href="javascript:;" th:attr="data-filter='.' + ${categorie.name}" th:text="${categorie.name.toUpperCase()}"></a>
                                    </span>
                                </div>
                            </div>




                            <div class="portfolioContainer row"  >
                                <div th:each="product:${products}" class="col-md-4 col-sm-4 col-xs-12 isotope-item" th:classappend="${product.getProductCategory().name}">
                                    <div class="menu-list"  >
                                        <a href="" class="" data-toggle="modal" data-target="#myModal" >
                                            <img src="./images/sandwitch2.png" alt="" />
                                        </a>
                                        <h5 th:inline="text">[[${product.name}]]<span th:text="'$'+${product.price}"></span></h5>
                                        <p th:text="${product.description}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="btn-outer">
                                <a href="#" class="btn-main btn-shadow">Explore Full Menu</a>
                            </div>

                        </div>
                    </div>
                    <div class="float-main">
                        <div class="icon-top-left">
                            <img src="./images/icon7.png" alt="" />
                        </div>
                        <div class="icon-bottom-left">
                            <img src="./images/icon8.png" alt="" />
                        </div>
                        <div class="icon-top-right">
                            <img src="./images/icon9.png" alt="" />
                        </div>
                        <div class="icon-bottom-right">
                            <img src="./images/icon10.png" alt="" />
                        </div>
                    </div>
                </section>
                <!-- End Menu Part -->
                <!-- Start Dishes Part -->
                <section class="dishes dishes-expand banner-bg home-icon wow fadeInDown" data-background="images/banner9.jpg" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="icon-default icon-skeen">
                        <img src="./images/icon35.png" alt="" />
                    </div>
                    <div class="container">
                        <div class="build-title">
                            <h2>Today Hot Dishes</h2>
                            <h6>The role of a good cook ware in the preparation of a sumptuous meal cannot be over</h6>
                        </div>
                        <div class="slider multiple-items">
                            <div class="product-blog">
                                <img src="./images/product1.png" alt="" />
                                <h3>Quattro Formaggi</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                            </div>
                            <div class="product-blog">
                                <img src="./images/product2.png" alt="" />
                                <h3>Vegetarian Pasta</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                            </div>
                            <div class="product-blog">
                                <img src="./images/product3.png" alt="" />
                                <h3>Gluten-Free Pasta</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                            </div>
                            <div class="product-blog">
                                <img src="./images/product1.png" alt="" />
                                <h3>Quattro Formaggi</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                            </div>
                            <div class="product-blog">
                                <img src="./images/product2.png" alt="" />
                                <h3>Vegetarian Pasta</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                            </div>
                            <div class="product-blog">
                                <img src="./images/product3.png" alt="" />
                                <h3>Gluten-Free Pasta</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <del>$ 55.00</del><strong class="txt-default">$ 18.00</strong>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Dishes Part -->
                <!-- Start Discount Part -->
                <section class="discount-part wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="discount-left">
                                    <h6 class="heade-xs">HAPPY CUSTOMER EVENT</h6>
                                    <h2>DISCOUNT <span>50%</span></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor int et lamp dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    <a href="#" class="btn-black">LEARN MORE</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="discount-right">
                                    <img src="./images/img21.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Discount Part -->
            </div>
        </main>
        <!-- End Main -->
        <!-- Start Footer -->
        <div th:replace="template :: footer">
		</div>
        <!-- End Footer -->
        
    </div>
    <!-- Back To Top Arrow -->
    <a href="#" class="top-arrow"></a>
    <script src="./js/jquery.min.js"></script>
    <script src="./plugin/bootstrap/bootstrap.min.js"></script>
    <script src="./plugin/bootstrap/bootstrap-datepicker.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAf6My1Jfdi1Fmj-DUmX_CcNOZ6FLkQ4Os"></script>
    <script src="./plugin/form-field/jquery.formstyler.min.js"></script>
    <script src="./plugin/revolution-plugin/jquery.themepunch.plugins.min.js"></script>
    <script src="./plugin/revolution-plugin/jquery.themepunch.revolution.min.js"></script>
    <script src="./plugin/owl-carousel/owl.carousel.min.js"></script>
    <script src="./plugin/slick-slider/slick.min.js"></script>
    <script src="./plugin/isotop/isotop.js"></script>
    <script src="./plugin/isotop/packery-mode.pkgd.min.js"></script>
    <script src="./plugin/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./plugin/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="./plugin/animation/wow.min.js"></script>
    <script src="./plugin/parallax/jquery.stellar.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>